.navbar-light{ 
    background-color: rgb(4, 197, 197);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: white;
    font-size: xx-large;  
    padding-left: 40px; 
    
}

.navbar-nav{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

body{
    background-image: url("./Images/grayLeaf.jpg");
}

.card-title{
    color: rgb(4, 197, 197);
    font-family: 'Times New Roman', Times, serif;
    font-weight:bold;
    font-size:70px;  

}

.btn-primary{
    background-color: rgb(4, 197, 197);
    border-color: rgb(4, 197, 197);
    border-radius: 0%;
    size: 25px;  
}

.card{
    margin-left: 40px;
    margin-top: 60px;
} 

/* I understand the below @media css isn't finished, still confused on this... */

@media (min-width: 400px){}
@media (min-width: 768px){}
@media (min-width: 992px){}


